<div id=main style="width:70%;float:left;border:black 5px solid;">
  <% personas.each do |persona| %>
    <ul>
      <li><%=persona[:name]%></li>
      <li><%=persona[:catchphrase]%></li>
    </ul>
  <% end %>
</div>

