<div id=main style="width:70%;float:left;border:black 5px solid;">
  <ul>
    <li><%=persona[:name]%></li>
    <li><%=persona[:catchphrase]%></li>
  </ul>
</div>
<div id=sidebar style="width:20%;float:right;border:black 5px solid;">
  <% friend_catchphrases.each do |catchphrase| %>
    <%=catchphrase%> <br/>
  <% end %>
</div>

